flow.json
[{"id":"1c4074bd.e3bf8b","type":"function","z":"7c7dc628.08a158","name":"loop","func":"function getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min +1)) + min;\n}\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = 20;\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tif (msg.payload > 40) {\n\t\t\t    msg.payload = msg.payload + getRandomInt(-4, 0)\n\t\t\t}\n\t\t\telse if (msg.payload < 20) {\n\t\t\t    msg.payload = msg.payload + getRandomInt(0, 4)\n\t\t\t}\n\t\t\telse {\n\t\t\t    msg.payload = msg.payload + getRandomInt(-3, 3);\n\t\t\t}\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["7b60d417.849f2c"],["a380b8b5.5c7f48"]]},{"id":"a380b8b5.5c7f48","type":"delay","z":"7c7dc628.08a158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":340,"wires":[["1c4074bd.e3bf8b"]]},{"id":"7b60d417.849f2c","type":"debug","z":"7c7dc628.08a158","name":"[Debug] Output Sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":240,"wires":[]},{"id":"8cf655a0.7309a8","type":"inject","z":"7c7dc628.08a158","name":"start Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hospital/temperature","payload":"start","payloadType":"str","x":258,"y":225,"wires":[["1c4074bd.e3bf8b"]]},{"id":"c59c9644.3a6368","type":"inject","z":"7c7dc628.08a158","name":"stop Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hospital/temperature","payload":"stop","payloadType":"str","x":260,"y":301,"wires":[["1c4074bd.e3bf8b"]]},{"id":"389188c5779ae25a","type":"comment","z":"7c7dc628.08a158","name":"Dekripsi Tugas: Rancanglah suatu sistem akuisisi data temperatur pada rumah sakit yang dikirimkan melalui protokol UDP dan TCP","info":"","x":600,"y":160,"wires":[]},{"id":"ecf455481be39083","type":"comment","z":"7c7dc628.08a158","name":"Tugas No 2: TCP Server mendengar pada port 89, kemudian menyimpan data sensor dalam bentuk format file .csv","info":"# Tugas 2 (A):\n\nBuatlah TCP Server pada port 88","x":550,"y":640,"wires":[]},{"id":"6f6e6d1c1c225854","type":"tcp in","z":"7c7dc628.08a158","name":"","server":"server","host":"","port":"89","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"tls":"","x":210,"y":720,"wires":[[]]},{"id":"a298f73757d125ba","type":"comment","z":"7c7dc628.08a158","name":"Tugas No 1: UDP Server mendengar pada port 88, kemudian mencetak hasil input pada debug console","info":"","x":510,"y":460,"wires":[]},{"id":"70a5a9c912265424","type":"udp in","z":"7c7dc628.08a158","name":"","iface":"","port":"88","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":210,"y":520,"wires":[[]]},{"id":"0d4d1051cf9a17ac","type":"comment","z":"7c7dc628.08a158","name":"Tugas No 3: TCP server mendengar pada port 90, kemudian menampilkan data sensor pada UI Dashboard (node-red-dashboard)","info":"","x":590,"y":840,"wires":[]},{"id":"091b2fd7c2ddee4e","type":"comment","z":"7c7dc628.08a158","name":"JIka suhu sensor > 30 derajat, maka muncul text peringatan tertentu","info":"","x":400,"y":920,"wires":[]},{"id":"f4c4086cea874b43","type":"comment","z":"7c7dc628.08a158","name":"suhu ditampilkan dalam bentuk Gauge","info":"","x":310,"y":880,"wires":[]},{"id":"7afe8e0849f0c9aa","type":"tcp in","z":"7c7dc628.08a158","name":"","server":"server","host":"","port":"90","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"tls":"","x":210,"y":1000,"wires":[[]]},{"id":"a1e84dfc1d4a527b","type":"comment","z":"7c7dc628.08a158","name":"Tugas Sistem Telemedicine: Lengkapi Flow Berikut dan kumpulkan pekerjaan anda dalam bentuk flow.json (Export -> Download Current Flow)","info":"","x":630,"y":80,"wires":[]},{"id":"e909580fddacf211","type":"comment","z":"7c7dc628.08a158","name":"catatan: gunakan IP localhost untuk simulasi jaringan","info":"","x":890,"y":280,"wires":[]}]
